body {
    background: rgb(44, 44, 99);
}
nav {
    background: rgb(122, 80, 104);
    border-radius: 300px;
}
a {
   color: rgb(164, 198, 191);
}
img {
    border-radius: 30px;
}
h1 , h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: rgb(186, 168, 154);
  }
  h3 {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-style: italic;
    color:rgb(250, 204, 168)
  }